<!DOCTYPE html>

<head>
    <title>本次活动储值会员</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <script type="text/javascript" src="../../../static_dest/static/new/js/plug/flexible.debug.js"></script>
    <link rel="stylesheet" href="../../../static_dest/static/new/css/member_list.css">
</head>

<body>
    <div id="wap" class="js_member_list">
        <div class="js_member_detail">
            <section class="section_search">
                <div class="search_out">
                    <i class="icon_search"></i>
                    <input class="text js_searchbox" type="text" placeholder="请输入姓名或手机号查询">
                </div>
            </section>
            <input id="js_pos" type="hidden" value="0" />
            <section class="section_history">
                <ul class="ul_history">
                    <!--<li class="js_cell">-->
                    <!--&lt;!&ndash; <router-link :to="{ name: 'member_d', params: { id: member.id } }"> &ndash;&gt;-->
                    <!--<dl>-->
                    <!--<dt><img src="../../../src/img/user_header_img.png" alt=""></dt>-->
                    <!--<dd>韩梅梅</dd>-->
                    <!--<dd class="grey"><i class="icon_tel"></i>18108122310</dd>-->
                    <!--<dd class="grey">储值<span class="orange">2次</span></dd>-->
                    <!--<div class="clearfix"></div>-->
                    <!--</dl>-->
                    <!--<p>-->
                    <!--<span class="grey">余额</span>-->
                    <!--<br/>-->
                    <!--<span class="orange">￥<i class="i_normal">35.20</i></span>-->
                    <!--</p>-->
                    <!--</li>-->
                    <!--<li class="js_cell">-->
                    <!--&lt;!&ndash; <router-link :to="{ name: 'member_d', params: { id: member.id } }"> &ndash;&gt;-->
                    <!--<dl>-->
                    <!--<dt><img src="../../../src/img/user_header_img.png" alt=""></dt>-->
                    <!--<dd>韩梅梅</dd>-->
                    <!--<dd class="grey"><i class="icon_tel"></i>18108122310</dd>-->
                    <!--<dd class="grey">储值<span class="orange">2次</span></dd>-->
                    <!--<div class="clearfix"></div>-->
                    <!--</dl>-->
                    <!--<p>-->
                    <!--<span class="grey">余额</span>-->
                    <!--<br/>-->
                    <!--<span class="orange">￥<i class="i_normal">35.20</i></span>-->
                    <!--</p>-->
                    <!--</li>-->
                </ul>
            </section>
        </div>
        <div class="li_none js_li_none li_none_white">
            <img class="history_img" src="/prepaid/v1/static/new/img/wu@3x.png" />
            <p class="title_no grey">亲，还没有会员储值~</p>
        </div>
    </div>
    <script src="../../../static_dest/static/new/js/require.2.1.11.min.js" type="text/javascript" data-main="../../../static_dest/static/new/js/b/specifies_activity.js" defer async="true"></script>
</body>

</html>
