<!DOCTYPE html>
<html>

<head>
    <title>个人中心</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <script type="text/javascript" src="../../static_dest/static/new/js/plug/flexible.debug.js"></script>
    <link rel="stylesheet" href="../../static_dest/static/new/css/usercenter.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?f3bc3b4024a2a3be3c630ee7af344007";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>

<body>
    <div id="wap" class="js_usercenter_detail">
        <section class="header_detail">
            <div class="bg">
                <p class="title_c"><i class="star starl"></i><span>储值余额</span><i class="star starr"></i></p>
                <p class="title_d">￥<span class="js_detail_price">0.00</span></p>
                <a onclick="_hmt.push(['_trackEvent','merchant','click','merchant_list']);" href="#" class="title_e js_charge_list">储值明细<i class="arrow"></i></a>
            </div>
        </section>
        <section class="section_index">
            <div class="user_headerd">储值说明</div>
            <ul class="section_ul js_ul_rules">
            </ul>
            <div class="clearfix"></div>
        </section>
        <footer>
            <a onclick="_hmt.push(['_trackEvent','merchant','click','merchant_buy']);" href="#" class="content_sub js_detail_buy">立即储值</a>
            <a onclick="_hmt.push(['_trackEvent','merchant','click','merchant_shop']);" href="#" class="content_sub1 js_detail_pay">立即买单</a>
        </footer>
    </div>
    <div id="loading"></div>
    <div id="load_small_bg">
        <div id="load_small"><i></i><br/><span>数据加载中</span></div>
    </div>
    <!-- </*弹框*/>  -->
    <div class="alert_con" id="alert_alert">
        <div class="alert_con_t orange">提示<span class="pass_close js_alert_con_close">×</span></div>
        <div class="alert_con_b">
            <div class="alert_con_br"></div>
            <div class="clearfix"></div>
            <span class="alert_con_close js_alert_con_close">确定</span>
        </div>
    </div>
    <div class="zheceng"></div>
    <div class="zheceng1"></div>
    <script src="../../static_dest/static/new/js/require.2.1.11.min.js" type="text/javascript" data-main="../../static_dest/static/new/js/usercenter/usercenter.js" defer></script>
</body>

</html>
