<!DOCTYPE html>
<html>

<head>
    <title>储值</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <script type="text/javascript" src="../../static_dest/static/new/js/plug/flexible.debug.js"></script>
    <link rel="stylesheet" href="../../static_dest/static/new/css/recharge.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?f3bc3b4024a2a3be3c630ee7af344007";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>

<body>
    <div id="wap" class="js_recharge_index">
        <div class="li_none js_li_none">
            <img class="history_img" src="../../static_dest/static/new/img/wu@3x.png" />
            <p class="title_no grey">亲，储值活动已结束，下次再来~</p>
        </div>
        <div class="js_li_show">
            <section class="section_merchant">
                <p>
                    <i class="icon_shop"></i><span class="js_shopname"></span>
                </p>
            </section>
            <section class="line">
                <dl class="js_mobilehang">
                    <dt>储值账户</dt>
                    <dd class="black js_mobile"></dd>
                </dl>
                <dl>
                    <dt>当前余额</dt>
                    <dd class="orange"><span class="js_balance"></span>元</dd>
                </dl>
            </section>
            <section class="section_index">
                <p class="title_a">请选择储值金额</p>
                <ul class="rechage_ul js_rechage_ul">
                </ul>
                <div class="clearfix"></div>
            </section>
            <section class="dl_note">
                <p>储值说明</p>
                <ul class="js_note_ul_detail">
                </ul>
            </section>
            <section class="section_mark js_section_mark">
                <div class="markin">
                    <span class="orange">*</span>点击立即储值,表示您已同意<a href="/prepaid/v1/page/c/pacp.html" class="js_protol_url">《储值协议》</a>,${legal_notices}。
                </div>
            </section>
            <section class="section_footer js_fixed_button">
                <span class="content_sub js_content_sub" style="display: block;">立即储值</span>
                <span class="content_sub disa js_content_sub_disa" style="display: none;">立即储值</span>
            </section>
            <footer class="js_relative_button" style="display:none;">
                <span class="content_sub js_content_sub">立即储值</span>
                <span class="content_sub disa js_content_sub_disa">立即储值</span>
            </footer>
        </div>
    </div>
    <script src="../../static_dest/static/new/js/require.2.1.11.min.js" type="text/javascript" data-main="../../static_dest/static/new/js/recharge/recharge.js" defer async="true"></script>
</body>

</html>
